{% extends "base.html" %}
{% block content %}
        <section class="posts">
            <ul>
                {% for post_item in posts %}
                <li>
                    <div class="article-panel">
                        <p class="first">Категория: {{ post_item.cat }}</p>
                        <p class="last"> Дата изменения: {{ post_item.time_update|date:"d-m-y H:i:s" }}</p>
                    </div>
                    <h2>{{ post_item.title }}</h2>
                    <p>{{ post_item.content }}</p>
                    <p><a class="read-post-button" href="{{ post_item.get_absolute_url }}">Читать пост</a></p>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </section>
{% endblock %}