{% extends "base.html" %}
{% block content %}
        <section class="posts">
            <ul>
                {% for post_item in posts %}
                {% if post_item.is_published %}
                <li>
                    <h2>{{ post_item.title }}</h2>
                    <p>{{ post_item.content }}</p>
                    <p><a class="read-post-button" href="{{ post_item.get_absolute_url }}">Читать пост</a></p>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </section>
{% endblock %}