{% load static %}
{% load athlete_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'athletes/css/normalize.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'athletes/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <a class="logo" href="{% url 'home' %}">
                    <img class="logo-img" src="{% static 'athletes/images/logo.png' %}" width="10%" alt="Логотип сайта">
                </a>
                <ul class="menu">
                    {% for menu_item in menu %}
                    {% if not forloop.last %}
                    <li class="menu-item">
                    {% else %}
                    <li class="menu-item last">
                    {% endif %}
                    <a href="{% url menu_item.url_name %}">{{ menu_item.title }}</a></li>
                    {% endfor %}
                 </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <section class="categories">
                <ul>
                    {% getcats as categories %}
                    <li class="selected">Все категории</li>
                    {% for cat in categories %}
                    <li><a href="{% url 'category' cat.id %}">{{cat.name}}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% block content %} {% endblock %}
            </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p>Это блог о спортсменах. Построен на Django 4.2</p>
        </div>
    </footer>
</body>
</html>